div{
text-align: center;
color: white;
font-family: 'Courier New', Courier, monospace;

    display: block;
        margin: auto;
}

p{
    text-align: left;
}

li{
    text-align: left;
}

.pokemon_description{
font-family: 'Courier New', Courier, monospace;
color: rgb(238, 246, 240);
text-align: center;
margin: 4px ;

}


body{
    background-color: black;
} 



.pokemon_names{
font-family: 'Courier New', Courier, monospace;
color: white;
margin: 4px


}

#squirtle_container{
   background-color: blue;
   border-radius: 10px;
border-style: solid;
margin: 4px;
border-width: 3px;
}



#charmander_contariner{
background-color: red;
border-radius: 10px;
border-style: solid;
margin: 4px;
border-width: 3px;
}


#bulbasaur_comtainer{
    background-color: green;
    border-radius: 10px;
border-style: solid;
margin: 4px;
border-width: 3px;

}

img{
    border:  blue;
    border-width: 4px;
    border-style: solid;
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    
}


h1{
    background-color: blue;
    color: yellow;
}